

.containerTemplate {
    padding: 14px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.titleTask {
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 400;

    &:first-child {
        text-transform: capitalize;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    align-items: center;
}

.icons {
    cursor: pointer;
}