

.inputPrimary {
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
    padding: 0 18px;
    width: 100%;
    background-color: transparent;

    &:focus {
        outline: none;
        border: 1px solid #f6cc5c !important;
    }

    &:hover {
        border: 1px solid #f6cc5c !important;
    }
}

.contentInput {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.passwordIcon {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}