
@media (max-width: 600px) {
    .actions {
        padding-right: 16px !important;
    }
}

.headerSection {
    height: 60px; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 999; 
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }
  .customSection {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }

  .mode {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid;
  }

  .dark {
    border-left: none;
    border-radius: 0px 8px 8px 0;
  }

  .ligth {
    border-radius: 8px 0 0 8px;
  }

  .titleMode {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1rem;
    user-select: none;
  }
  .titleMode {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1rem;
    user-select: none;
  }

  .logout {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }



